.custom-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid $primary;
    background: transparent;
    -webkit-appearance: none;
    border-radius: 5px;
    position: relative;
    margin-right: 10px;
    outline: none;
    &:checked {
        &::before {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 5px;
            background-color: $primary;
        }
        &::after {
            content: "L";
            display: block;
            color: white;
            position: absolute;
            left: 3px;
            top: -3px;
            transform: scaleX(-1) rotate(-40deg);
            font-size: 12px;
        }
    }
}

.toggle-cabin-options {
    .toggle-checked-box {
        -webkit-appearance: none;
        position: relative;
        outline: none;
        width: 45px;
        height: 25px;
        border-radius: 20px;
        transition: all ease-in-out 0.4s;
        border: 1px solid $primary;
        background-color: $white;
        &:checked {
            background-color: $primary;
        }
        &:checked::after {
            left: 24px;
            background-color: $white;
        }
        &::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 5px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $primary;
            transition: all ease-in-out 0.4s;
        }
    }
}
