.test-primary {
    color: $primary !important;
}

.form-control {
    font-size: 14px !important;
    &:active, &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $primary, $amount: 30) !important;
        border: 1px solid $primary !important;
    }
    &:hover {
        border: 1px solid $primary !important;
    }
}
