// Custom Variables
//
// You can override the existing bootstrap variables.
// See the available variables at vendor/bootstrap/scss/_variables.scss.


//
// Color system
//

$white:     #fff !default;
$gray-base: #181b1e !default;
$gray-100:  #f0f3f5 !default; // lighten($gray-base, 85%);
$gray-200:  #e4e7ea !default; // lighten($gray-base, 80%);
$gray-300:  #c8ced3 !default; // lighten($gray-base, 70%);
$gray-400:  #acb4bc !default; // lighten($gray-base, 60%);
$gray-500:  #8f9ba6 !default; // lighten($gray-base, 50%);
$gray-600:  #73818f !default; // lighten($gray-base, 40%);
$gray-700:  #5c6873 !default; // lighten($gray-base, 30%);
$gray-800:  #2f353a !default; // lighten($gray-base, 10%);
$gray-900:  #23282c !default; // lighten($gray-base, 5%);
$black:     #000 !default;

$gray:       #4F4F4F !default;
$blue:       #6360FE !default;
$indigo:     #6610f2 !default;
$purple:     #A276AE !default;
$pink:       #e83e8c !default;
$red:        #EB5757 !default;
$orange:     #f8cb00 !default;
$yellow:     #F2994A !default;
$green:      #27AE60 !default;
$teal:       #20c997 !default;
$cyan:       #17a2b8 !default;
$light-blue: #63c2de !default;
$pastel-red:  #FE6960 !default; 
$pastel-yellow: #FEB560 !default;
$pastel-blue: #6360FE !default;

$primary:       $purple;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$secondary:     lighten($color: $primary, $amount: 30);

$font-family-sans-serif:      'Nunito Sans', sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-base:            $font-family-sans-serif !default;


$btn-border-radius:           10px !default;
$btn-border-radius-sm:         10px !default;
$btn-padding-y:               15px!default;
$btn-padding-x:               30px !default;
$btn-font-size:               14px !default;
$btn-font-weight:             600 !default;

$btn-padding-y-sm:            10px !default;
$btn-padding-x-sm:            20px !default;

$modal-content-border-radius:       10px !default;

$input-font-size:                       14px !default;

$body-bg:                   lighten($color: $primary, $amount: 40) !default;

